body{
    background-color: #8A0000;
}
h1{
    color: black;
    text-align: center;
    font-size: 60px;
}
p{
    color:black;
    text-align: center;
    font-size: 40px;
}
img{
    margin-left: ;
}